@import "./variables.scss";
@import "./base.scss";
@import "./sections/header.scss";
@import "./sections/aboutme.scss";
@import "./sections/experience.scss";
@import "./sections/projects.scss";
@import "./sections/contact.scss";
@import "./media.scss";

.logo {
  &__img {
    height: auto;
    width: 5rem;
    margin-right: 1rem;
  }

  &__text {
    font-weight: 700;
  }
}

.navbar-toggler {
  color: #fff;
  font-size: 3rem;
  margin: 0;
}

.btn {
  font-size: $font-regular;
  padding: 1rem 2rem;

  &-outline-primary {
    color: $color-special;
    border: 1px solid $color-special;
  }
}

.mb-10r {
  margin-bottom: 10rem;
}

.cursor {
  color: $color-special;
}
