.header {
  position: relative;
  height: 100vh;
  background-color: $bg-primary;
  overflow: hidden;
  &__nav {
    margin-top: 3rem;
    padding: 0;

    ul {
      width: 100%;
      text-align: right;
      li {
        display: inline-block;
        margin-left: 3rem;
        a {
          text-decoration: none;
          font-size: $font-regular;
          color: $color-special;
        }
      }
    }
  }

  &__text-box {
    position: absolute;
    top: 25%;
    z-index: 10;
  }

  &__vanta {
    position: absolute;
    top: 55%;
    z-index: 1;
  }
}

.heading-primary {
  &__greet {
    display: block;
    font-size: $font-regular;
    color: $color-special;
  }

  &__name {
    color: $text-light;
    display: block;
    font-size: 6rem;
    font-weight: 700;
  }

  &__does {
    display: block;
    font-size: 4rem;

    &--what {
      display: inline-block;
      animation-duration: 1s;
    }
  }

  &__intro {
    display: block;
  }
}
